<h1>Welcome!</h1>
<% if flash[:notice] %>
<% flash[:notice].each do |message| %>
	<p> <%= message %> </p>
<% end %>
<% end %>

<% if flash[:alert] %>
<p><%= flash[:alert] %></p>
<% end %>



<div style="display:inline-block">
	<h1>Register</h1>
	<form action="/users/register" method="POST">
		<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
		<p>Name:<input type="text" name="name"></p>
		<p>Email:<input type="text" name="email"></p>
		<p>Password:<input type="password" name="password"></p>
		<p>Confirm Password:<input type="password" name="password_confirmation"></p>
		<p>Description:<input type="text" name="description"></p>
		<input type="submit" value="Register">
	</form>
</div>
<div style="display:inline-block; vertical-align:top">
	<h1>Login</h1>
	<form action="/users/login" method="POST">
		<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
		<p>Email:<input type="text" name="email"></p>
		<p>Password:<input type="password" name="password"></p>
		<input type="submit" value="Login">
	</form>
</div>

