<h1>Welcome!</h1>
<% if flash[:notice] %>
<% flash[:notice].each do |message| %>
	<p> <%= message %> </p>
<% end %>
<% end %>

<% if flash[:alert] %>
<p><%= flash[:alert] %></p>
<% end %>

<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">


<div class="login" style="display: inline-block;">
	<h1>Register</h1>
	<table><form action="/users/register" method="POST">
		<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
		<tr>
			<td><input placeholder="Name" type="text" name="name"></td></tr>
		<tr>
			<td><input placeholder="Email" type="text" name="email"></td></tr>
		<tr>
			<td><input placeholder="Password" type="password" name="password"></td></tr>
		<tr>
		<td><input placeholder="Confirm Password" type="password" name="password_confirmation"></td></tr>
		<tr><td><input placeholder="Description" type="text" name="description"></td></tr>
		</table>
		<p><input id="button" type="submit" value="Register"></p>
	</form>
	
</div>
<div class="login" style="display: inline-block; vertical-align: top;">
	<h1>Login</h1>
	<form action="/users/login" method="POST">
		<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
		<table> 
		<tr>
			<td> <input placeholder="Email" type="text" name="email"></td>
		</tr>
		<tr>
		<td><input placeholder="Password" type="password" name="password"></td>
		</tr>
		</table>
		<p><input id="button" type="submit" value="Login"></p>
	</form>
</div>


