*{ font-family: 'Dosis', sans-serif;
	background-color: lightblue;
	color: lightyellow;
	word-spacing: .5px;

}

.login {
	border: 1px solid lightyellow;
	border-radius: 5px;
	margin-left: 50px;
	height: 300px;
	width: 200px;
	text-align: center;
}

.login table {
	margin-left: 30px;
}
#button {
 background-color: lightyellow;}

 input {
 	border: 1px solid lightyellow;
 	color: black;
 	border-radius: 5px;
 }


	
